@model Book

<div class="col-md-3 d-flex align-items-stretch">
    <div class="card" style="width:250px">
        <div class="card-body">
            <h4 class="card-title">@Model?.Name</h4>
            <h5><em>Author: @Model?.Author</em></h5>
            <a><img class="card-img-top" src="@Url.Content(Model?.Image)" alt="@Model?.Name"
                    style="height: 300px; width: 210px"></a>
            <span class="bolded" style="font-size: 18px;">Price:</span>
            <span class="badge rounded-pill bg-dark text-white">
                <h7 style="font-size: 15px;">@Model?.Price.ToString("c")</h7>
            </span>
            <div class="card-text bolded" style="font-size: 18px;">Publication Date:</div>
            @Model?.PublicationDate.ToString("dd/MM/yyyy")
            <div class="card-text bolded" style="font-size: 18px;">Description:</div>
            @Model?.Description
            <form id="@Model?.BookID" asp-page="/Cart" method="post">
                <input type="hidden" asp-for="BookID" />
                <input type="hidden" name="returnURL" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                <span class="card-text p-1">
                    <div>
                        <button type="submit" class="btn btn-danger btn-sm">Add to cart</button>
                    </div>
                </span>
            </form>
        </div>
    </div>
</div>