<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FPTBook</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 "
        style="background-color: #ffc6c6;">
        <div class="container-fluid">
            <span class="navbar-brand ml-2 bolded">FPTBook Administration</span>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item nav-link text-dark">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item ">
                                    <a class="nav-link text-dark bolded" href="/Admin/Books">
                                        Manage Books
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark bolded" href="/Admin/Orders">
                                        Manage Orders
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-2 text-right">
            <a href="/Account/Logout" class="btn btn-sm btn-danger bolded">Logout</a>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>